:root{
    --bg: #0a192f;
    --card: #172a45;
    --text: #ccd6f6;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--bg);
    padding: 15px;
    
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto; 
}

.div {
    background-color: var(--card);
}

h1{
    color: var(--text);
    font-size: xx-large;
    font-family: var(--font);
    text-align:center;
    margin: 1px;
    background-color: #003366;
 }

h2{
    color: var(--text);
    font-size: x-large;
    font-family: var(--font);
   text-align: justify;
   margin: 0;
    background-color: #003366;
}

p{
    color: var(--text);
    font-size: large;
    font-family: var(--font);
    text-align: justify;
    background-color: #003366;
}

ul{
    color: var(--text);

    font-family: var(--font);
    margin: 0;
    border: 2px;
   }
li{
    color: var(--text);
    text-align: left;
    font-family: var(--font);
    
    border: 2px;
}


.container{
    margin: 0 auto;
    border: 2px;
    border-radius: 8px;
    align-content: center;
    align-items: center;
    text-align: center; 
    height: fit-content;
    max-width: 1200px; /* Desktop max width */
}

img{
    margin-left: 205px;
    width: fit-content;
    height: 450px;
}

footer{
    color: var(--text);
    font-size: large;
    font-family: var(--font);
    text-align:center;
}

.hero-content{
    color: var(--text);
    font-size: large;
    font-family: var(--font);
    text-align: left;
    background-color: #003366;     
}

.hero-section{
    color: var(--text);
    font-size: large;
    font-family: var(--font);
    text-align: left;
    background-color: #003366;
   
    height: auto;
    padding: 15px;   
    margin-bottom: 10px;
    border-radius: 8px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    scrollbar-color: black white;
}
button{
    background-color: white;
    border-radius: 10px;
    height: 25px;
    width: fit-content;
}
button:hover{
    background-color: skyblue;
    color: white;
    cursor: pointer;
}   
